:root {
    --white: #fff;
    --cookies: #282828;
    --btn-bg: #FFFF02;
}

// -----Header-----------------------------
.header {
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.header__burger {
    display: none;

    @media (max-width: 1024px) {
        z-index: 100;
        display: block;
        width: 30px;
        height: 30px;

        position: fixed;
        top: 15px;
        right: 15px;
        span {
            display: block;
            margin: 5px;
            width: 100%;
            height: 2px;
            background-color: var(--white);
        }
    }
}


.header__menu {
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    transition: .2s;

    @media (max-width: 1024px) {
        position: fixed;
        top: -1000px;

        background-color: var(--cookies);
        padding: 15px;
        flex-direction: column;
        align-items: center;

        & > *:not(:last-child) {
            margin: 0 0 20px 0;
        }

        font-size: 1.5rem;
        
        .header__right {
            flex-direction: column;
            align-items: center;

            & > *:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
        .header__lists {
            flex-direction: column;
            align-items: center;
            
            & > *:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
}

.active {
    top: 0;
}

.header__right {
    display: flex;
}

.header__list {
    display: flex;
}

.header__links {
    display: flex;
}

.header__item {
    margin: 0 12px 0 12px;
}

.header__link {
    text-transform: uppercase;
    color: inherit;
}

.header__img {
    display: flex;

}

.block {
    top: 25px;
    transition: .2s;
}



// -----/Header-----------------------------

// -----Cookies-----------------------------

.hide {
    display: none;
}

.cookies {
    padding: 0 15px;
    position: relative;
    background-color: var(--cookies);
}

.cookies__body {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
}

.cookies__warning {
    color: var(--white);
}

.cookies__btn {
    background-color: var(--btn-bg);
    padding: 6px 30px;
    border-radius: 20px;
}

// -----/Cookies-----------------------------


